<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Signup</title>
</head>

<body>
  <header>
    <h2>Sign Up</h2>
  </header>

  <div class="form">
    <form (ngSubmit)="signup()">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email" required />

      <label for="password">Password<small>(min. 8 characters)</small> </label>
      <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="password"
        required />
      <small *ngIf="isInvalidCredentials" class="error">*Please enter email and password!!</small>   
      <small *ngIf="isInvalidEmail" class="error">*Enter a valid email address!!</small>    
      <small *ngIf="isInvalidPassword" class="error">*Password must be minimun of 8 characters with atleast one uppercase letter,one lowercase letter,one special character and one number!!</small>
      <small *ngIf="isEmailRegistered" class="error">Email already registered</small>
      <button type="submit" class="form-button">Create Account</button>
      <p>
        <a routerLink="/login" (click)="login()">Already have an account?</a>
      </p>
    </form>
  </div>
</body>

</html>