<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <header>
        <h2>Login</h2>
    </header>
    <div class="form">
        <form (ngSubmit)="login()">
            <label for="email"></label>
            <input [(ngModel)]="email" type="email" placeholder="Email" name="email" required/>

            <label for="password"></label>
            <input [(ngModel)]="password" type="password" placeholder="Password" name="password" required/>
            <small *ngIf="isEmptyCredentials" class="error">*Please enter email and password!!</small>
            <small *ngIf="isInvalidCredentials" class="error">*The e-mail address and/or password you specified are not correct.
            </small>
            <button type="submit" class="form-button">Login</button>
            <small class="msg">Don't have an account yet?</small>
            <a (click)="goToSignup()">Create your Free account now</a>
        </form>
    </div>
</body>
</html>